<div class="container">
    <div class="section-title">
        <span class="sub-title">Completely New Features</span>
        <h2> Full Process Tracking</h2>
    </div>
    <div class="row justify-content-center">
        

         <div class="col-xl-4 col-lg-6 col-sm-6 col-md-6">
            <div class="single-features-item">
                <div class="icon bg4">
                    <i class="ri-secure-payment-line"></i>
                </div>
                <h3>Perfect follow-up</h3>
                <p>With regular notifications for all your team’s appointments with clients and daily tasks.</p>
            </div>
        </div>
        <div class="col-xl-4 col-lg-6 col-sm-6 col-md-6">
            <div class="single-features-item">
                <div class="icon bg2">
                    <i class="ri-stack-line"></i>
                </div>
                <h3>Data Organization</h3>
                <p> Organize your client data, projects, workflow steps, and your team’s performance.</p>
            </div>
        </div>
        <div class="col-xl-4 col-lg-6 col-sm-6 col-md-6">
            <div class="single-features-item">
                <div class="icon bg3">
                    <i class="ri-leaf-line"></i>
                </div>
                <h3>All-in-One Campaigns</h3>
                <p>Phone calls, SMS, WhatsApp Campaigns, and Email Campaigns in one place.</p>
            </div>
        </div>

        <div class="col-xl-4 col-lg-6 col-sm-6 col-md-6">
            <div class="single-features-item" style="height: 235px;">
                <div class="icon">
                    <i class="ri-eye-line"></i>
                </div>
                <h3>Manage your work from anywhere</h3>
                <p>Monitor your business freely and completely at any time on iOS or Android.</p>
            </div>
        </div>
       
        <div class="col-xl-4 col-lg-6 col-sm-6 col-md-6">
            <div class="single-features-item">
                <div class="icon bg5">
                    <i class="ri-cloud-line"></i>
                </div>
                <h3>Be Ready for any business need</h3>
                <p>With cloud storage for all your account data, you can access it from any device and continue your work instantly.</p>
            </div>
        </div>
        <div class="col-xl-4 col-lg-6 col-sm-6 col-md-6">
            <div class="single-features-item">
                <div class="icon bg6">
                    <i class="ri-pie-chart-2-line"></i>
                </div>
                <h3>No more lost deals again</h3>
                <p> A dedicated “Posts” section for selling urgent units or finding a property for a client is your solution to secure every deal.</p>
            </div>
        </div>
        <!-- <div class="col-xl-12 col-lg-12 col-sm-12 col-md-12">
            <div class="view-more-box">
                <a routerLink="/features-1" class="default-btn">View More</a>
            </div>
        </div> -->
    </div>
</div>