<div class="container">
    <div class="section-title">
        <span class="sub-title">
            {{ currentLang === 'ar' ? 'مميزات جديدة بالكامل' : 'Completely New Features' }}
        </span>
        <h2>
            {{ currentLang === 'ar' ? 'تتبع كامل للعمليات' : 'Full Process Tracking' }}
        </h2>
    </div>

    <div class="row justify-content-center">

        <div class="col-xl-4 col-lg-6 col-sm-6 col-md-6" *ngFor="let item of features">
            <div class="single-features-item">
                <div class="icon">
                    <i [class]="item.icon"></i>
                </div>

                <h3>{{ getTitle(item) }}</h3>

                <p>{{ getDescription(item) }}</p>
            </div>
        </div>

    </div>
</div>