<div class="app-progress-area  ptb-100">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="app-progress-animation-image">
                    <img src="img/app-progress/login.png" alt="app-progress" />
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="app-progress-content text-black">
                    <span class="sub-title">Track Your Progress</span>
                    <h2>{{currentLang==='ar'?'ﻛن ﻣﺗﺻﻼً ﺑﺄﻋﻣﺎﻟك أﯾﻧﻣﺎ ﺗﻛون' : 'Stay Connected to Your Sales—Wherever You
                        Are.'}}</h2>
                    <p>
                        With the Souq Leader app, you can easily log in from any device—iOS or Android—and quickly
                        access all your account data.
                    </p>
                    <p>
                        With secure cloud storage, all of your leads' tasks, contact history, and sales funnel remain
                        fully synchronized, allowing you to work without interruption.
                        Whether you're following up with a client or reviewing your team's performance, Souq Leader
                        ensures you stay connected and highly productive anytime, anywhere.

                    </p>
                </div>
            </div>
        </div>
    </div>
</div>