<div class="app-progress-area  ptb-100">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="app-progress-animation-image">
                    <img src="img/app-progress/login.png" alt="app-progress" />
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="app-progress-content text-white">
                    <span class="sub-title">Track Your Progress</span>
                    <h2>Work wherever and whenever you are</h2>
                    <p>
                        Log in from the Apple App Store or Google Play Store on
                        any device, anytime, and access all your account data
                        with complete, secure storage for everything inside.
                    </p>
                    <p>
                        With cloud storage for all your account data, you can
                        access it from any device and continue your work
                        instantly.
                    </p>
                    <a routerLink="/pricing" class="default-btn">Start Free Trial</a>
                </div>
            </div>
        </div>
    </div>
</div>