<app-navbar-style-two />

<app-homefour-banner />

<div class="partner-area ptb-100">
    <div class="container">
        <div class="partner-title">
            Trusted by world famous companies:
        </div>
        <app-partner />
    </div>
</div>

<app-homefour-video />

<app-homefour-features />

<div class="features-area pt-100">
    <app-features-style-three />
</div>

<app-progress-style-three />

<div class="app-download-area pb-100">
    <app-download-app-style-three />
</div>

<app-screenshots-style-four />

<app-homefour-software-integrations />

<div class="pricing-area pb-75">
    <app-pricing-style-four />
</div>

<app-feedback-style-three />

<div class="ptb-100">
    <app-free-trial-style-two />
</div>

<app-footer-style-four />

<app-back-to-top />