<div style="background-color:#FFF;" class="new-app-download-area ptb-100">
    <!-- [ngStyle]="{'background-image': 'url(img/more-home/app-download/download-bg.jpg)'}"> -->
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="new-app-download-content">
                    <div class="big-text" [ngStyle]="{
    'left': currentLang === 'en' ? '-5px' : 'unset'
  }">
                        {{ currentLang === 'ar' ? 'حمّل' : 'Download' }}
                    </div> <span class="sub-title">{{ currentLang === 'ar' ? 'تحميل التطبيق' : 'DOWNLOAD APP' }}</span>
                    <h2> {{ currentLang === 'ar' ? downloadAppData?.title_ar :
                        downloadAppData?.title_en }}
                    </h2>
                    <p> {{ currentLang === 'ar' ? downloadAppData?.description_ar :
                        downloadAppData?.description_en }}
                    </p>
                    <div class="btn-box">
                        <a href="https://play.google.com/store/apps/details?id=com.alef.souqleader&pcampaignid=web_share"
                            class="playstore-btn" target="_blank">
                            <img src="img/play-store.png" alt="image">
                            {{ currentLang === 'ar' ? 'احصل عليه من' : 'Get It On' }}
                            <span>{{ currentLang ==='ar' ? 'جوجل بلاي' : 'Google Play'}}</span>
                        </a>
                        <a href="https://apps.apple.com/us/app/souqleader-crm/id6502881700" class="applestore-btn"
                            target="_blank">
                            <img src="img/apple-store.png" alt="image">
                            {{ currentLang === 'ar' ? 'حمله من' : 'Download on the' }}
                            <span>{{ currentLang === 'ar' ? 'متجر أبل' : 'Apple Store' }}</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <!-- <div class="new-app-download-image text-end" data-aos="fade-up">
                    <img [src]="downloadAppData.image" alt="app-img">
                </div> -->
            </div>
        </div>
    </div>
</div>