<div class="col-md-6 signup-form"
    style="background: linear-gradient(221.69deg, #039BE5 0%, #020E3C 101%); display:flex; flex-direction:column; justify-content:center; text-align:center; min-height:100%;">

    <!-- Display all backend errors -->
    <div *ngFor="let err of backendErrors" class="alert alert-danger mt-2">
        {{ err }}
    </div>

    <!-- Display success message -->
    <div *ngIf="successMessage" class="alert alert-success mt-2">
        {{ successMessage }}
    </div>

    <h2 style="color: white; font-weight: bold;">{{ translate.t('Request A Demo') }}</h2>

    <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <input type="text" class="form-control" style="font-weight:bold;"
                placeholder="{{ translate.t('Company Name') }}" formControlName="company_name">
        </div>

        <div class="form-group">
            <input type="text" class="form-control" style="font-weight:bold;"
                placeholder="{{ translate.t('Contact Name') }}" formControlName="contact_name">
        </div>

        <div class="form-group">
            <input type="email" class="form-control" style="font-weight:bold;"
                placeholder="{{ translate.t('Email Address') }}" formControlName="email">
        </div>

        <button type="submit" class="btn btn-light" style="font-weight:bold;" [disabled]="loading">
            {{ loading ? 'Submitting...' : translate.t('Request a demo') }}
        </button>
    </form>

</div>