<div class="demo-wrapper">
    <div class="demo-left">
        <img src="assets/images/demo-illustration.png" alt="Demo Illustration">
    </div>

    <div class="demo-right">
        <div class="demo-box">
            <h2>{{ translate.t('Request a demo') }}</h2>

            <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="{{translate.t('Company Name')}}"
                        formControlName="company_name">
                </div>

                <div class="form-group">
                    <input type="text" class="form-control" placeholder="{{translate.t('Contact Name')}}"
                        formControlName="contact_name">
                </div>

                <div class="form-group">
                    <input type="email" class="form-control" placeholder="{{translate.t('Email Address')}}"
                        formControlName="email">
                </div>

                <button type="submit" class="demo-btn">
                    {{ translate.t('Request a demo') }}
                </button>
            </form>
        </div>
    </div>
</div>