<app-navbar-style-two />

<div class="page-title-area">
    <div class="container">
        <div class="page-title-content">
            <h2>
                {{ currentLang === 'ar' ? 'سياسة الخصوصية' : 'Privacy Policy' }}
            </h2>

            <ul>
                <li>
                    <a routerLink="/">
                        {{ currentLang === 'ar' ? 'الرئيسية' : 'Home' }}
                    </a>
                </li>
                <li>
                    {{ currentLang === 'ar' ? 'سياسة الخصوصية' : 'Privacy Policy' }}
                </li>
            </ul>
        </div>

    </div>
    <div class="divider"></div>
    <div class="lines">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>
    <div class="banner-shape1"><img src="img/shape/shape9.png" alt="image"></div>
</div>

<div class="privacy-policy-area ptb-100">
    <div class="container">
        <div class="privacy-policy-content">
            <div [innerHTML]="content"></div>

        </div>
    </div>
</div>

<div class="app-download-area pb-100">
    <app-download-app-style-two />
</div>

<app-footer-style-four />

<app-back-to-top />