.how-it-works-content {
    border-left: 1px solid var(--mainColor);
    padding-bottom: 40px;
    padding-left: 50px;
    position: relative;
    max-width: 900px;

    margin: {
        left: auto;
        right: auto;
    }

    ;

    .number {
        top: 0;
        left: -29px;
        width: 58px;
        height: 58px;
        border-radius: 15%;
        text-align: center;
        position: absolute;
        color: var(--whiteColor);
        background-color: var(--mainColor);
        border: 1px solid var(--whiteColor);

        font: {
            size: 20px;
            weight: 700;
        }

        ;
    }

    .box {
        h3 {
            font-size: 20px;

            margin: {
                bottom: 8px;
                top: 3px;
            }

            ;
        }

        span {
            font-size: 16px;
            color: var(--mainColor);
            display: block;
        }
    }

    .content {
        border-bottom: 1px solid #eeeeee;
        padding-bottom: 50px;
        margin-left: 15px;

        img {
            margin-top: 15px;
        }

        ul {
            li {
                color: var(--paragraphColor);
                margin-bottom: 12px;

                a {
                    color: var(--mainColor);

                    &:hover {
                        text-decoration: underline;
                    }
                }

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }

    &:last-child {
        padding-bottom: 0;

        .content {
            border-bottom: none;
            padding-bottom: 0;
        }
    }
}

/* Max width 767px */
@media only screen and (max-width: 767px) {

    .how-it-works-content {
        max-width: 100%;
        margin-left: 15px;

        padding: {
            left: 35px;
            bottom: 30px;
        }

        ;

        .number {
            left: -17px;
            width: 34px;
            height: 34px;
            font-size: 15px;
            line-height: 33px;
        }

        .box {
            margin-bottom: 15px;

            h3 {
                font-size: 16px;
            }

            span {
                font-size: 13px;
            }
        }

        .content {
            padding-bottom: 30px;
            margin-left: 0;

            img {
                margin-top: 0;
            }

            ul {
                margin-left: -15px;
            }
        }
    }

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width: 576px) and (max-width: 767px) {}

/* Min width 768px to Max width 991px */
@media only screen and (min-width: 768px) and (max-width: 991px) {

    .how-it-works-content {
        max-width: 640px;

        .box {
            h3 {
                font-size: 18px;
            }

            span {
                font-size: 14px;
            }
        }

        .content {
            padding-bottom: 40px;

            margin: {
                left: 0;
                top: 15px;
            }

            ;

            p {
                font-size: 15px;
            }
        }
    }

}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width: 992px) and (max-width: 1199px) {

    .how-it-works-content {
        max-width: 830px;
    }

}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {}

/* Min width 1550px */
@media only screen and (min-width: 1550px) {}

/* How It Works Section */
.how-it-works-area {
    background-color: #f8f9fa;
}

.how-it-works-content {
    margin-bottom: 80px;
    position: relative;
}

.how-it-works-content:last-child {
    margin-bottom: 0;
}

/* Step Number Wrapper */
.step-number-wrapper {
    position: relative;
    height: 100%;
    min-height: 200px;
}

/* Step Number Circle */
.step-number-circle {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background: linear-gradient(221.69deg, #039BE5 0%, #020E3C 101.01%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
    z-index: 2;
}

.step-number {
    color: white;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    line-height: 1.4;
}

/* Connector Line */
.line-connector {
    flex: 1;
    position: relative;
    height: 2px;
}

.connector-line {
    width: 100%;
    height: 2px;
    object-fit: cover;
}

/* Content Styling */
.content h3 {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 20px;
    color: #020E3C;
    line-height: 1.3;
}

.content p {
    font-size: 16px;
    line-height: 1.8;
    color: #666;
    margin-bottom: 0;
}

.content img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

/* Responsive Design */
@media (max-width: 991px) {
    .how-it-works-content {
        margin-bottom: 60px;
    }

    .step-number-wrapper {
        min-height: 150px;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .step-number-circle {
        width: 100px;
        height: 100px;
    }

    .content h3 {
        font-size: 24px;
    }
}

@media (max-width: 767px) {
    .how-it-works-content {
        margin-bottom: 50px;
    }

    .step-number-wrapper {
        min-height: 120px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .step-number-circle {
        width: 80px;
        height: 80px;
    }

    .step-number {
        font-size: 14px;
    }

    .content h3 {
        font-size: 22px;
    }

    .content p {
        font-size: 15px;
    }
}

/* RTL Support for Arabic */
[dir="rtl"] .step-number-wrapper {
    flex-direction: row-reverse;
}

[dir="rtl"] .step-number-circle {
    margin-left: 0;
    margin-right: 20px;
}

[dir="rtl"] .content {
    text-align: right;
}