<app-navbar-style-two />

<div class="page-title-area">
    <div class="container">
        <div class="page-title-content">
            <h2>How It Works</h2>
            <ul>
                <li><a routerLink="/">Home</a></li>
                <li>How It Works</li>
            </ul>
        </div>
    </div>
    <div class="divider"></div>
    <div class="lines">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>
    <div class="banner-shape1"><img src="img/shape/shape9.png" alt="image"></div>
</div>

<div class="how-it-works-area ptb-100">
    <div class="container">
        <div *ngFor="let step of howWorks; let i = index" class="how-it-works-content">
            <div class="number" [ngStyle]="{'background-color': i % 2 === 0 ? '#59bae9' : '#020F3C'}">
                {{ currentLang === 'en'
                ? 'STEP ' + (i + 1).toString().padStart(2, '0')
                : 'الخطوة ' + (i + 1).toString().padStart(2, '0')
                }}
            </div>
            <div class="row m-0">
                <div class="col-lg-1 col-md-1 p-0">
                    <div class="box">
                        <img *ngIf="i % 2 === 0" src="img/darkline.png" alt="line image" />
                        <img *ngIf="i % 2 !== 0" src="img/lightline.png" alt="line image" />
                    </div>
                </div>
                <div class="col-lg-11 col-md-11 p-0">
                    <div class="content" [style.text-align]="currentLang==='ar' ? 'right' : 'left'">
                        <h3>{{ getTitle(step) }}</h3>
                        <p>{{ getDescription(step) }}</p>
                        <img *ngIf="step.image" [src]="step.image" [alt]="getTitle(step)">
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


<div class="app-download-area pb-100">
    <app-download-app-style-four />
</div>

<app-footer-style-four />

<app-back-to-top />