<app-navbar-style-two />

<div class="error-area pb-100" style="background-image: url(img/error-bg.jpg);">
    <div class="container">
        <div class="error-content">
            <img src="img/error.png" alt="image">
            <p>The page you are looking for might have been removed had its name changed or is temporarily unavailable.
            </p>
            <a routerLink="/" class="default-btn">Back To Home</a>
        </div>
    </div>
</div>

<div class="app-download-area ptb-100">
    <app-download-app-style-two />
</div>

<app-footer-style-four />

<app-back-to-top />