<app-navbar-style-two />

<!-- ================= PAGE TITLE ================= -->
<div class="page-title-area" [attr.dir]="currentLang === 'ar' ? 'rtl' : 'ltr'">
    <div class="container">
        <div class="page-title-content">
            <h2>
                {{ currentLang === 'ar' ? 'تفاصيل المدونة' : 'Blog Details' }}
            </h2>
            <ul>
                <li>
                    <a [routerLink]="['/', currentLang]">
                        {{ currentLang === 'ar' ? 'الرئيسية' : 'Home' }}
                    </a>
                </li>
                <li>
                    {{ currentLang === 'ar' ? 'تفاصيل المدونة' : 'Blog Details' }}
                </li>
            </ul>
        </div>
    </div>

    <div class="divider"></div>

    <div class="lines">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>

    <div class="banner-shape1">
        <img src="img/shape/shape9.png" alt="image">
    </div>
</div>

<!-- ================= BLOG DETAILS ================= -->
<div class="blog-details-area ptb-100" [attr.dir]="currentLang === 'ar' ? 'rtl' : 'ltr'">
    <div class="container">
        <div class="row">

            <!-- ===== CONTENT ===== -->
            <div class="col-lg-8 col-md-12">
                <div class="blog-details-desc">

                    <!-- Image -->
                    <div class="article-image">
                        <a [routerLink]="['/', currentLang, 'blog-grid']" class="tag">
                            {{ currentLang === 'ar' ? 'مدونة' : 'Blog' }}
                        </a>

                        <img *ngIf="blog?.image"
                            [src]="'https://admin.realstatecrm-development.dev.alefsoftware.com/' + blog.image"
                            alt="blog-details">
                    </div>

                    <!-- Content -->
                    <div class="article-content">

                        <!-- Meta -->
                        <div class="entry-meta">
                            <ul>
                                <li>
                                    <i class="ri-calendar-2-line"></i>
                                    {{ blog?.created_at | date:(currentLang === 'ar' ? 'd MMMM y' : 'MMMM d, y') }}
                                </li>
                                <li>
                                    <i class="ri-message-2-line"></i>
                                    <a [routerLink]="['/', currentLang, 'blog-grid']">
                                        (0) {{ currentLang === 'ar' ? 'تعليقات' : 'Comments' }}
                                    </a>
                                </li>
                            </ul>
                        </div>

                        <!-- Title -->
                        <h4>
                            {{ currentLang === 'ar' ? blog?.title_ar : blog?.title_en }}
                        </h4>

                        <!-- Description -->
                        <div [innerHTML]="safeDescription"></div>

                    </div>
                </div>
            </div>

            <!-- ===== SIDEBAR ===== -->
            <div class="col-lg-4 col-md-12">
                <aside class="widget-area">
                    <app-blog-sidebar />
                </aside>
            </div>

        </div>
    </div>
</div>

<!-- ================= DOWNLOAD APP ================= -->
<div class="app-download-area pb-100">
    <app-download-app-style-one />
</div>

<app-footer-style-four />
<app-back-to-top />